{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime)))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "words" .WordCount | default (printf "%d words" .WordCount)))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
{{- end }}
{{- end }}

{{- if .IsTranslated -}}
{{- $label := cond (eq .Lang "zh") "语言" "Language" -}}
{{- $langLinks := slice -}}
{{- range .Translations -}}
  {{- $langName := .Language.LanguageName | default (.Lang | upper) -}}
  {{- $langLinks = $langLinks | append (printf "<a href=\"%s\">%s</a>" .RelPermalink $langName) -}}
{{- end -}}
{{- if gt (len $langLinks) 0 -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s: %s</span>" $label (delimit $langLinks ", "))) }}
{{- end -}}
{{- end -}}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
